<!-- <div class="w-100 d-flex justify-content-between navigation">
  <div> </div>
  <p class="m-0">
    Scrypt
  </p>
  <div>
    <form [formGroup]="form">
      <mat-slide-toggle formControlName="toggle" (change)="toggleMode()"><mat-icon class="clr-mode-icon">dark_mode</mat-icon></mat-slide-toggle>
    </form>
  </div>
</div> -->
<mat-toolbar class="navigation">
  <div class=" w-100 d-flex justify-content-between">
    <div> </div>
    <p class="m-0">Scrypt</p>
    <div>
      <form [formGroup]="form">
        <mat-slide-toggle formControlName="toggle" (change)="toggleMode()"><mat-icon class="clr-mode-icon">dark_mode</mat-icon></mat-slide-toggle>
      </form>
    </div>
  </div>
</mat-toolbar>
<div class="w-100 content">
  <app-home></app-home>
</div>
