.navigation {
  align-items: end;
}

.clr-mode-icon {
  height: 100%;
  margin: 3.5px 3px 0 3px;
}

.main-content {
  height: 100vh;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}


.home-add-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
