.navigation {
  background-color: #EC8A00;
}

.clr-mode-icon {
  height: 100%;
    padding-top: 3.5px;
}

.content {
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}
