.noteCard {
  border-radius: 7px 60px 15px 30px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  .date {
    font-size: 11px;
    align-self: end;
  }

  h4 {
    margin-bottom: 0;
  }
}

.home {
  padding-top: 3rem;
}

.action-btn {
  margin: 0 3px;
}
