.noteCard {
  background-color: #EDEDED;
  color: black;
  border-radius: 7px 60px 15px 30px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  .date {
    font-size: 11px;
    align-self: end;
  }

  h4 {
    margin-bottom: 0;
  }
}

.noteCard:hover {
  background-color: rgb(58, 58, 58);
  color: white;
}


.home {
  padding-top: 3rem;

}


.action-btn {
  margin: 0 3px;
}

.home-add-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
