
<h2 mat-dialog-title>
  <mat-icon>edit</mat-icon> Edit Note
</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
  <form [formGroup]="noteForm" class="mt-2">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput required formControlName="title"/>
      <mat-error>Title is required.</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Content</mat-label>
      <textarea matInput  required formControlName="content"></textarea>
      <mat-error>Content is required.</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button [mat-dialog-close]="onCancelClick()">Cancel</button>
  <button mat-flat-button [disabled]="noteForm.invalid" (click)="onSave()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
